.home-specialists{
    background-color:#60BDFF;
    box-shadow:0 0 0 100vmax #60BDFF;
    clip-path:inset(0 -100vmax);
}

.home-specialists-cards{
    display:flex;
    justify-content:space-between;
    gap:clamp(15px,2vw,20px);
    margin-bottom:60px;
}

.home-specialists-card{
    flex:1;
    background:white;
    border-radius:20px;
    padding:clamp(15px,2vw,20px);
}

.home-specialists-card img{
    width:clamp(80px,10vw,150px);
    height:clamp(80px,10vw,150px);
    border-radius:10px;
    object-fit:cover;
    flex-shrink:0;
}

.home-specialists-baze{
    display:flex;
    text-align:left;
    gap:clamp(15px,3vw,40px);
}

.home-specialists-info{
    flex:1;
}

.home-specialists-name{
    font-size:clamp(14px,1.2vw,16px);
    font-weight:700;
    margin:0;
}

.home-spec-work{
    font-weight:300;
    font-size:clamp(11px,1vw,14px);
}

.home-problem{
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    margin-top:40px;
}

.home-problem button{
    background:#EAF0FF;
    border-radius:10px;
    font-size:12px;
    font-weight:300;
    border:none;
    cursor:pointer;
    padding:5px 10px;
    font-family:inherit;
}

.home-specialists-price{
    margin-top:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:10px;
}

.home-price{
    font-size:clamp(16px,1.5vw,20px);
    margin:0;
}

.home-specialists-kryto{
    font-size:clamp(18px,2vw,24px);
    max-width:65%;
    margin:0 auto 60px;
}

.mars{
    font-family:"Noto Sans",sans-serif;
    font-weight:800;
    font-size:clamp(22px,2.5vw,30px);
    color:white;
}

@media(max-width:1100px){
    .home-specialists-cards{
        flex-wrap:wrap;
    }

    .home-specialists-card{
        flex:1 1 calc(50% - 20px);
    }
}

@media(max-width:768px){
    .home-specialists{
        padding:30px 0;
    }
    
    .home-specialists-cards{
        flex-direction:column;
    }

    .home-specialists-card{
        width:100%;
        box-sizing:border-box;
    }

    .home-specialists-baze{
        gap:15px;
    }

    .home-specialists-card img{
        width:90px;
        height:90px;
    }

    .home-specialists-price{
        margin-top:25px;
    }

    .home-specialists-kryto{
        max-width:100%;
        font-size:18px;
        margin-bottom:40px;
    }

    .mars{
        font-size:22px;
    }
}

@media(max-width:480px){
    .home-specialists-card{
        padding:15px;
    }

    .home-specialists-card img{
        width:75px;
        height:75px;
    }

    .home-spec-work{
        font-size:12px;
    }

    .home-problem{
        margin-top: 5px;
    }


    .home-price{
        font-size:16px;
    }

    .home-specialists-price{
        align-items:center;
    }
}