.work{
    background-color: #60BDFF;
    padding-top: 60px;
    padding-bottom: 60px;
}

.work-steps{
    display: flex;
    text-align: left;
    gap: 25px;
    justify-content: space-between;
}

.work-step{
    width: 350px;
    font-weight: 300;
}

.step-header{
    font-weight: 600;
    font-size: 20px;
}
