.hero{
    display: flex;
    align-items: center;
}

h1{
    font-size: 36px;
    font-weight: 400;
}

.hero-text{
    text-align: left;
}

.hero-text p{
    font-size: 16px;
    font-weight: 300px;
}

.button{
    display: flex;
    gap: 20px;
}

.button a{
    background-color: #ABD2FF;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.3s;
    font-size: 20px;
}

.button a:hover{
    transform: scale(1.05);
}

.hero-img{
    width: 100%;
}

.message {
    text-align: left;
    display: inline-block;
    max-width: 350px;
    padding: 20px 20px;
    background-image: url('./message.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.message p{
    margin-left: 35px;
}

.message-title{
    font-weight: 700;
    font-size: 20px;
}

.message-title img{
    width: 30px;
}

.message-text{
    font-weight: 300;
}