.advantages{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages-step{
    display: flex;
    text-align: left;
    gap: 20px;
    font-size: 20px;
    font-weight: 200;
}

.advantages img{
    object-fit: contain;
}