.oplata h2{
    margin-top: 0px;
}

.oplata-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.oplata-subtitle{
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 50px;
}

.oplata-qr{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.qr-img img{
    width: 275px;
    height: auto;
}

.oplata-qr select{
    border: none;
    background-color: #ABD2FF;
    padding: 20px 10px;
    border-radius: 20px;
    width: fit-content;
    font-family: unbounded;
    font-weight: 500;
}

.oplata-qr button{
    border: none;
    background-color: #ABD2FF;
    padding: 20px 10px;
    border-radius: 20px;
    width: fit-content;
    font-family: unbounded;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.amount__control {
    background-color: #ABD2FF !important;
    border: none !important;
    border-radius: 20px !important;
    min-height: 60px !important;
     width: fit-content;
    padding: 5px 15px;
    font-family: unbounded;
    font-weight: 500;
    cursor: pointer;
    box-shadow: none !important;
}

.amount__single-value {
    color: black !important;
    font-size: 20px;
    font-weight: 700;
}

.amount__menu {
    background-color: #ABD2FF !important;
    border-radius: 20px !important;
    overflow: hidden;
    margin-top: 8px;
    width: fit-content;
}

.amount__menu-list {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}

.amount__menu-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.amount__menu-list {
    padding: 10px 0 !important;
}

.amount__option {
    background-color: transparent !important;
    color: black !important;
    font-family: unbounded;
    font-size: 22px;
    font-weight: 700;
    padding: 18px 25px !important;
    cursor: pointer;
    text-align: center;
}

.amount__option:hover,
.amount__option--is-focused {
    background-color: rgba(255,255,255,0.15) !important;
}

.amount__indicator-separator {
    display: none;
}

.amount__dropdown-indicator {
    color: black !important;
}

.oplata-iskra {
    margin-top: -150px;
}

.oplata-steps{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    text-align: left;
    font-weight: 300;
    margin-bottom: 50px;
}

.oplata-step p{
    width: 230px;
}

.reqviziti{
    display: flex;
    text-align: left;
    margin-top: 50px;
    gap: 100px;
}

.reqviziti_block{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 300;
    box-shadow: 0 0 0 100vmax white;
    clip-path: inset(0 -100vmax);
}