.work{
    background-color: #60BDFF;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0 0 0 100vmax #60BDFF;
    clip-path: inset(0 -100vmax);
}

.work-steps{
    display: flex;
    text-align: left;
    gap: 25px;
    justify-content: space-between;
}

.work-step{
    width: 350px;
    font-weight: 300;
}

.step-header{
    font-weight: 600;
    font-size: 20px;
}

@media (max-width: 768px) {
    .work-steps {
        flex-direction: column;
        gap: 30px;
    }

    .work-step {
        width: 100%;
    }
}
