.specialists{
    background-color: #60BDFF;
}

.specialists-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 60px;
}

.specialists-card{
    flex: 1;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.specialists-card img{
    border-radius: 10px;
    object-fit: contain;
}

.specialists-name{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.baze{
    display: flex;
    text-align: left;
    gap: 40px;
}

.specialists-price{
    display: flex;
    justify-content: space-between;
}

.price{
    font-size: 20px;
}

.problem{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.problem button{
    background-color: #EAF0FF;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-family: inherit;
    transition: all 0.3s;
}
