.tests-hero{
    display: flex;
    justify-content: space-between;
}

.tests-hero img{
    width: 460px;
}

.tests-iframe {
    width: 80vw;
    min-width: 100%;
    height: 600px;
    border: none;
}