header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav a{
    transition: all 0.3s;
}

nav a:hover{
    transform: scale(1.05);
}

.header-button{
    display: flex;
    gap: 30px;
    margin-top: 60px;
}

.address{
    text-align: left;
}

.socail-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socail-icon img{
    width: 40px;
    transition: all 0.3s;
}

.socail-icon img:hover{
    transform: scale(1.05);
    cursor: pointer;
}