.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}

h1{
    font-size:clamp(20px,3vw,36px);
    font-weight:400;
}

.hero-text{
    max-width:550px;
    text-align:left;
}

.hero-text p{
    font-size:clamp(13px,1.2vw,16px);
    font-weight:300;
}

.button{
    display:flex;
}

.button a{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    text-align:left;
    text-decoration:none;
    color:black;
    font-weight:700;
    background:#ABD2FF;
    padding:10px 15px;
    border-radius:20px;
    transition:.3s;
    font-size:clamp(14px,1.5vw,20px);
    line-height:1.3;
}

.button a:hover{
    transform:scale(1.05);
}

.hero-image-wrap{
    display:flex;
    align-items:center;
    gap:30px;
    width:min(60vw,900px);
}

.hero-img{
    width:55%;
    height:auto;
    display:block;
}

.message-img{
    width:45%;
    height:auto;
    display:block;
}

@media(min-width:1400px){
    .hero-image-wrap{
        width:900px;
        gap:40px;
    }

    .hero-img{
        width:55%;
    }

    .message-img{
        width:45%;
    }
}

@media(max-width:1200px){
    .hero-image-wrap{
        width:50%;
        gap:10px;
    }

    .hero-img{
        width:55%;
    }

    .message-img{
        width:45%;
    }
}

@media(max-width:992px){
    .hero-image-wrap{
        width:45%;
        flex-direction:column;
    }

    .hero-img{
        width:100%;
    }

    .message-img{
        width:100%;
    }
}

@media(max-width:768px){
    .hero-image-wrap{
        width:clamp(250px,80vw,400px);
    }

    .hero-img{
        width:60%;
    }

    .message-img{
        width:70%;
    }
}