footer{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-column{
    display: flex;
    flex-direction: column;
}